# Datasets Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [5]:
import pandas as pd

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [6]:
df = pd.read_csv('balance.txt',sep=' ')

1. Write the code that performs the action described in the following statements.

In [8]:
# Select the 'Limit' and 'Rating' columns of the first five observations
df_selected = df[['Limit', 'Rating']]

In [13]:
# Select the first five observations with 4 cards
df_four = df[df['Cards'] == 4]
print(df_four.head())

      Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
2   22.530409  104.593   7075     514      4   71         11    Male      No
5   22.486178   80.180   8047     569      4   77         10    Male      No
10  13.994990   63.095   8117     589      4   30         14    Male      No
20   9.853100   17.700   2860     235      4   63         16  Female      No
29  14.007770   26.813   5611     411      4   55         16  Female      No

   Married  Ethnicity
2       No      Asian
5       No  Caucasian
10     Yes  Caucasian
20      No      Asian
29      No  Caucasian

In [15]:
# Sort the observations by 'Education'. Show users with a high education value first.
df_edu_sort = df.sort_values(by='Education', ascending = False)

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:]
```

In [ ]:
# [return all rows and all columns in the DataFrame ]
df.iloc[:,:]

In [ ]:
# [return all rows starting from the 5th row and all columns starting from the 5th column in the DataFrame]
df.iloc[5:,5:]

In [ ]:
# [return all rows of the 1st column in the DataFrame]
df.iloc[:,0]

In [ ]:
# [return all columns of the 10th row in the DataFrame]
df.iloc[9,:]